<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/dist/output.css">


    <title>Project-1</title>
</head>
<body class="bg-slate-600">
<nav class="bg-slate-600 shadow-md">
    <div class="container mx-auto">

        <div class="sm:flex justify-between py-5 items-center">

            <div class="text-center">
                    <a href="#" class="text-white text-xl sm:text-3xl font-bold" > <span class="text-[#D44660]">S</span>mart Cod<span class="text-[#D44660]">ers</span></a>
            </div>
            <ul class="sm:flex text-xl text-white border-t sm:border-none ">
                <li><a class="p-6 text-[#D44660]" href="#">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Contrect</a></li>
            </ul>
        </div>
    </div>


</nav>
</body>
</html>